{{define "curve_switch_medium"}}
switch (FEAT_TRAINS, SELF, switch_{{.}}_height, getbits(extra_callback_info1, 0, 8) == 0 ? other_veh_z_offset(-1) : 0) {
    -128..-1: return spriteset_{{.}}_down_down;
    1..127: return spriteset_{{.}}_up_up;
    return spriteset_{{.}};
}

switch (FEAT_TRAINS, SELF, switch_{{.}}_curve, getbits(extra_callback_info1, 0, 8) == 0 ? curv_info : 0)  {
    vehicle_curv_info(1, 0): return spriteset_{{.}}_turn_1;
    vehicle_curv_info(0, 1): return spriteset_{{.}}_turn_2;

    vehicle_curv_info(-1, 0): return spriteset_{{.}}_turn_2;
    vehicle_curv_info(0, -1): return spriteset_{{.}}_turn_1;

    return switch_{{.}}_height;
}
{{end}}