{{define "curve_switch_long"}}
// Cresting hills is a special case where the full flat sprite should be used, and
// not the 3-part set
switch (FEAT_TRAINS, SELF, switch_{{.}}_crest_check, getbits(extra_callback_info1, 0, 8) == 0 ? other_veh_z_offset(1) : 0) {
    0: return spriteset_{{.}}_sections_mid;
    return spriteset_{{.}};
}

switch (FEAT_TRAINS, SELF, switch_{{.}}_height, getbits(extra_callback_info1, 0, 8) == 0 ? other_veh_z_offset(-1) : 0) {
    -128..-1: return spriteset_{{.}}_down_down;
    1..127: return spriteset_{{.}}_up_up;    

    // Long vehicle, use the 3-sprite layout
    switch_{{.}}_crest_check;
}

switch (FEAT_TRAINS, SELF, switch_{{.}}_curve, getbits(extra_callback_info1, 0, 8) == 0 && other_veh_is_hidden(-1) != 1 ? curv_info : 0)  {
    vehicle_curv_info(1, 0): return spriteset_{{.}}_turn_1;
    vehicle_curv_info(0, 1): return spriteset_{{.}}_turn_2;

    vehicle_curv_info(-1, 0): return spriteset_{{.}}_turn_2;
    vehicle_curv_info(0, -1): return spriteset_{{.}}_turn_1;

    vehicle_curv_info(0, 0): switch_{{.}}_height;
    return spriteset_{{.}};
}

// Switches for front
switch (FEAT_TRAINS, SELF, switch_{{.}}_height_front, getbits(extra_callback_info1, 0, 8) == 0 ?  abs(other_veh_z_offset(1)) + abs(other_veh_z_offset(2))  : 0) {
    0: return spriteset_{{.}}_sections_front;
    return spriteset_invisible;
}

switch (FEAT_TRAINS, SELF, switch_{{.}}_curve_front, getbits(extra_callback_info1, 0, 8) == 0 ? abs(other_veh_curv_info(1)) + abs(other_veh_curv_info(2)) : 0)  {
    0: switch_{{.}}_height_front;
    return spriteset_invisible;
}

// Switches for rear
switch (FEAT_TRAINS, SELF, switch_{{.}}_height_rear, getbits(extra_callback_info1, 0, 8) == 0 ? abs(other_veh_z_offset(-1)) + abs(other_veh_z_offset(-2)): 0) {
    0: return spriteset_{{.}}_sections_rear;
    return spriteset_invisible;
}

switch (FEAT_TRAINS, SELF, switch_{{.}}_curve_rear, getbits(extra_callback_info1, 0, 8) == 0 && other_veh_is_hidden(-2) != 1 ? abs(other_veh_curv_info(-1)) + abs(other_veh_curv_info(-2)) : 0)  {
    0: switch_{{.}}_height_rear;
    return spriteset_invisible;
}
{{end}}