{{define "pantograph_graphics"}}{{ if not .reuse_sprites}}
{{- $type := .type }}{{$plen := parseint .ttd_len}}{{$id := .id}}{{$pantograph_unit := .pantograph_unit -}}{{$zoom := parseint .globals.zoom }}{{$len :=.ttd_len}}
// pan unit: {{$pantograph_unit}}
{{ $template := concat "template_auto_" .ttd_len -}}
{{ $pan_up := concat $pantograph_unit "_pan_up" }}{{ altsprites8 $pan_up $template $zoom }}
{{ $pan_down := concat $pantograph_unit "_pan_down" }}{{ altsprites8 $pan_down $template $zoom }}

{{$template_turn := concat "template_auto_turn_1_" $len -}}
{{ altsprites8n $pan_up $template_turn $zoom "_turn_1" }}{{ altsprites8n $pan_down $template_turn $zoom "_turn_1" }}
{{$template_turn = concat "template_auto_turn_2_" $len -}}
{{ altsprites8n $pan_up $template_turn $zoom "_turn_2" }}{{ altsprites8n $pan_down $template_turn $zoom "_turn_2" }}

{{$template_turn := concat "template_auto_up_" .ttd_len -}}
{{$hill := concat $pan_up "_up" }}{{ altsprites8n $hill $template_turn $zoom "_up" }}
{{$hill = concat $pan_down "_up" }}{{ altsprites8n $hill $template_turn $zoom "_up" }}

{{$template_turn := concat "template_auto_down_" .ttd_len -}}
{{$hill = concat $pan_up "_down" }}{{ altsprites8n $hill $template_turn $zoom "_down" }}
{{$hill = concat $pan_down "_down" }}{{ altsprites8n $hill $template_turn $zoom "_down" }}

{{ if gt $plen 8}}
{{$sections := concat $pan_up "_sections" -}}
{{$template_turn = concat "template_auto_front_" .ttd_len -}}{{ altsprites8n $sections $template_turn $zoom "_front" }}
{{$template_turn = concat "template_auto_mid_" .ttd_len -}}{{ altsprites8n $sections $template_turn $zoom "_mid" }}
{{$template_turn = concat "template_auto_rear_" .ttd_len -}}{{ altsprites8n $sections $template_turn $zoom "_rear" }}

{{$sections := concat $pan_down "_sections" -}}
{{$template_turn = concat "template_auto_front_" .ttd_len -}}{{ altsprites8n $sections $template_turn $zoom "_front" }}
{{$template_turn = concat "template_auto_mid_" .ttd_len -}}{{ altsprites8n $sections $template_turn $zoom "_mid" }}
{{$template_turn = concat "template_auto_rear_" .ttd_len -}}{{ altsprites8n $sections $template_turn $zoom "_rear" }}
{{end}}

{{end}}{{end}}