{{define "preserved_cargo_age_switch" -}}

switch (FEAT_TRAINS, PARENT, switch_{{.id}}_preserved_cargo_age, age_in_days) {
    0..9125: return {{.cargo_age_period}};
    9125..73000: return ({{.cargo_age_period}} * (age_in_days / 365)) / 25;
    return {{.cargo_age_period}} * 8;
}

{{- end}}