{{define "tare_speed_switch" -}}

{{ $speed := parseint .speed }}{{if lt $speed 60 }}
switch (FEAT_TRAINS, PARENT, switch_{{.id}}_speed_brakevan, hasbit(bitmask_consist_info, HAS_BRAKE_VAN)) {
    1: return (({{.speed}}+5) * 8) / 5;
    return ({{.speed}} * 8) / 5;
}
{{end}}

{{- end}}