{{define "visual_effect_power" -}}


{{if and (eq .type "dual_power") (.secondary_power) -}}
{{ if eq .railtype "ELRL" }}
switch (FEAT_TRAINS, SELF, switch_{{.id}}_power, tile_powers_railtype("ELRL")) {
    1: return {{.power}};
    return {{.secondary_power}};
}
{{else}}
switch (FEAT_TRAINS, SELF, switch_{{.id}}_power, tile_powers_railtype("THIRD_RAIL")) {
    1: return {{.power}};
    return {{.secondary_power}};
}
{{end}}

{{ if eq .railtype "ELRL" }}
switch (FEAT_TRAINS, SELF, switch_{{.id}}_visual_effect_railtype, tile_powers_railtype("ELRL")) {
    1: return visual_effect(VISUAL_EFFECT_ELECTRIC, 0);
    return visual_effect(VISUAL_EFFECT_DIESEL, 0);
}
{{else if ne .railtype "BATTERY" }}
switch (FEAT_TRAINS, SELF, switch_{{.id}}_visual_effect_railtype, tile_powers_railtype("THIRD_RAIL")) {
    1: return visual_effect(VISUAL_EFFECT_ELECTRIC, 0);
    return visual_effect(VISUAL_EFFECT_DIESEL, 0);
}
{{end -}}
{{end}}

{{if .secondary_power -}}
{{ if eq .type "dual_electric" -}}
switch (FEAT_TRAINS, SELF, switch_{{.id}}_power, tile_powers_railtype("ELRL")) {
    1: return {{.power}};
    return {{.secondary_power}};
}
{{ end -}}
{{end}}

{{- if .secondary_speed }}
switch (FEAT_TRAINS, SELF, switch_{{.id}}_speed, tile_powers_railtype("THIRD_RAIL")) {
    1: return {{ .kmhish_speed }};
    return {{ .secondary_speed }};
}
{{- end }}

// Visual effect
switch (FEAT_TRAINS, SELF, switch_{{.id}}_visual_effect, position_in_articulated_veh ) 
{ 
    {{ if eq .type "steam" -}}
    {{if .effect_unit}}{{.effect_unit}}{{else}}0{{end}}: return visual_effect(VISUAL_EFFECT_STEAM, -1);
    {{ else if eq .type "electric" -}}
    {{if .effect_unit}}{{.effect_unit}}{{else}}1{{end}}: return visual_effect(VISUAL_EFFECT_ELECTRIC, 0);
    {{ else if eq .type "none" -}}
    {{if .effect_unit}}{{.effect_unit}}{{else}}1{{end}}: return visual_effect(VISUAL_EFFECT_DISABLE, 0);
    {{ else if eq .type "tube" -}}
    {{if .effect_unit}}{{.effect_unit}}{{else}}1{{end}}: return visual_effect(VISUAL_EFFECT_ELECTRIC, 0);
    {{ else if eq .type "dual_electric" -}}
    {{if .effect_unit}}{{.effect_unit}}{{else}}1{{end}}: return visual_effect(VISUAL_EFFECT_ELECTRIC, 0);
    {{ else if eq .railtype "BATTERY" -}}
    {{if .effect_unit}}{{.effect_unit}}{{else}}1{{end}}: return visual_effect(VISUAL_EFFECT_ELECTRIC, 0);
    {{ else if eq .type "dual_power" -}}
    {{if .effect_unit}}{{.effect_unit}}{{else}}1{{end}}: switch_{{.id}}_visual_effect_railtype;
    {{else -}}
    {{if .effect_unit}}{{.effect_unit}}{{else}}1{{end}}: return visual_effect(VISUAL_EFFECT_DIESEL, 0);
    {{- end}}
    return VISUAL_EFFECT_DISABLE;
}

{{- end}}