{{ $zoom := parseint .globals.zoom }}
{{$template := concat "template_auto_" .ttd_len -}}
{{$plen := parseint .ttd_len -}}
{{$speed := parseint .speed -}}

spriteset(spriteset_{{.id}}_purchase, "1x/{{.id}}_purchase.png")
{ template_purchase_1x() }

alternative_sprites(spriteset_{{.id}}_purchase, ZOOM_LEVEL_IN_2X, BIT_DEPTH_8BPP, "2x/{{.id}}_purchase.png")
{ template_purchase_2x() }

{{ if not .reuse_sprites -}}
{{if eq .globals.bpp "32"}}{{ altsprites .id $template $zoom }}{{else}}{{ altsprites8 .id $template $zoom }}{{end}}

{{$template_turn := concat "template_auto_turn_1_" .ttd_len -}}
{{if eq .globals.bpp "32"}}{{ altspritesn .id $template_turn $zoom "_turn_1" }}{{else}}{{ altsprites8n .id $template_turn $zoom "_turn_1" }}{{end}}

{{$template_turn = concat "template_auto_turn_2_" .ttd_len -}}
{{if eq .globals.bpp "32"}}{{ altspritesn .id $template_turn $zoom "_turn_2" }}{{else}}{{ altsprites8n .id $template_turn $zoom "_turn_2" }}{{end}}

{{$template_turn = concat "template_auto_up_" .ttd_len -}}{{$hill := concat .id "_up" }}
{{if eq .globals.bpp "32"}}{{ altsprites $hill $template_turn $zoom }}{{else}}{{ altsprites8 $hill $template_turn $zoom }}{{end}}

{{$template_turn = concat "template_auto_down_" .ttd_len -}}{{$hill = concat .id "_down" }}
{{if eq .globals.bpp "32"}}{{ altsprites $hill $template_turn $zoom }}{{else}}{{ altsprites8 $hill $template_turn $zoom }}{{end}}


{{ if gt $plen 8}}
{{$sections := concat .id "_sections" -}}
{{$template_turn = concat "template_auto_front_" .ttd_len -}}
{{if eq .globals.bpp "32"}}{{ altspritesn $sections $template_turn $zoom "_front" }}{{else}}{{ altsprites8n $sections $template_turn $zoom "_front" }}{{end}}
{{$template_turn = concat "template_auto_mid_" .ttd_len -}}
{{if eq .globals.bpp "32"}}{{ altspritesn $sections $template_turn $zoom "_mid" }}{{else}}{{ altsprites8n $sections $template_turn $zoom "_mid" }}{{end}}
{{$template_turn = concat "template_auto_rear_" .ttd_len -}}
{{if eq .globals.bpp "32"}}{{ altspritesn $sections $template_turn $zoom "_rear" }}{{else}}{{ altsprites8n $sections $template_turn $zoom "_rear" }}{{end}}
{{end}}


// Graphics - animated or not
{{ if .animated -}}
{{ $ani := concat .id "_anim_1" }}{{ altsprites8 $ani $template $zoom }}
{{$template_turn := concat "template_auto_turn_1_" .ttd_len -}}{{ altsprites8n $ani $template_turn $zoom "_turn_1" }}
{{$template_turn = concat "template_auto_turn_2_" .ttd_len -}}{{ altsprites8n $ani $template_turn $zoom "_turn_2" }}
{{$template_turn = concat "template_auto_up_" .ttd_len -}}{{$hill := concat $ani "_up" }}{{ altsprites8 $hill $template_turn $zoom }}
{{$template_turn = concat "template_auto_down_" .ttd_len -}}{{$hill = concat $ani "_down" }}{{ altsprites8 $hill $template_turn $zoom }}
{{if gt $plen 8}}
{{$template_turn = concat "template_auto_front_" .ttd_len -}}{{$sections := concat $ani "_sections" -}}{{ altsprites8n $sections $template_turn $zoom "_front" }}
{{$template_turn = concat "template_auto_mid_" .ttd_len -}}{{$sections = concat $ani "_sections" -}}{{ altsprites8n $sections $template_turn $zoom "_mid" }}
{{$template_turn = concat "template_auto_rear_" .ttd_len -}}{{$sections = concat $ani "_sections" -}}{{ altsprites8n $sections $template_turn $zoom "_rear" }}
{{end}}
{{ $ani = concat .id "_anim_2" }}{{ altsprites8 $ani $template $zoom }}
{{$template_turn = concat "template_auto_turn_1_" .ttd_len -}}{{ altsprites8n $ani $template_turn $zoom "_turn_1" }}
{{$template_turn = concat "template_auto_turn_2_" .ttd_len -}}{{ altsprites8n $ani $template_turn $zoom "_turn_2" }}
{{$template_turn = concat "template_auto_up_" .ttd_len -}}{{$hill = concat $ani "_up" }}{{ altsprites8 $hill $template_turn $zoom }}
{{$template_turn = concat "template_auto_down_" .ttd_len -}}{{$hill = concat $ani "_down" }}{{ altsprites8 $hill $template_turn $zoom }}
{{if gt $plen 8}}
{{$template_turn = concat "template_auto_front_" .ttd_len -}}{{$sections := concat $ani "_sections" -}}{{ altsprites8n $sections $template_turn $zoom "_front" }}
{{$template_turn = concat "template_auto_mid_" .ttd_len -}}{{$sections = concat $ani "_sections" -}}{{ altsprites8n $sections $template_turn $zoom "_mid" }}
{{$template_turn = concat "template_auto_rear_" .ttd_len -}}{{$sections = concat $ani "_sections" -}}{{ altsprites8n $sections $template_turn $zoom "_rear" }}
{{end}}

{{ $ani = concat .id "_anim_3" }}{{ altsprites8 $ani $template $zoom }}
{{$template_turn = concat "template_auto_turn_1_" .ttd_len -}}{{ altsprites8n $ani $template_turn $zoom "_turn_1" }}
{{$template_turn = concat "template_auto_turn_2_" .ttd_len -}}{{ altsprites8n $ani $template_turn $zoom "_turn_2" }}
{{$template_turn = concat "template_auto_up_" .ttd_len -}}{{$hill = concat $ani "_up" }}{{ altsprites8 $hill $template_turn $zoom }}
{{$template_turn = concat "template_auto_down_" .ttd_len -}}{{$hill = concat $ani "_down" }}{{ altsprites8 $hill $template_turn $zoom }}
{{if gt $plen 8}}
{{$template_turn = concat "template_auto_front_" .ttd_len -}}{{$sections := concat $ani "_sections" -}}{{ altsprites8n $sections $template_turn $zoom "_front" }}
{{$template_turn = concat "template_auto_mid_" .ttd_len -}}{{$sections = concat $ani "_sections" -}}{{ altsprites8n $sections $template_turn $zoom "_mid" }}
{{$template_turn = concat "template_auto_rear_" .ttd_len -}}{{$sections = concat $ani "_sections" -}}{{ altsprites8n $sections $template_turn $zoom "_rear" }}
{{end}}
{{ $ani = concat .id "_anim_4" }}{{ altsprites8 $ani $template $zoom }}
{{$template_turn = concat "template_auto_turn_1_" .ttd_len -}}{{ altsprites8n $ani $template_turn $zoom "_turn_1" }}
{{$template_turn = concat "template_auto_turn_2_" .ttd_len -}}{{ altsprites8n $ani $template_turn $zoom "_turn_2" }}
{{$template_turn = concat "template_auto_up_" .ttd_len -}}{{$hill = concat $ani "_up" }}{{ altsprites8 $hill $template_turn $zoom }}
{{$template_turn = concat "template_auto_down_" .ttd_len -}}{{$hill = concat $ani "_down" }}{{ altsprites8 $hill $template_turn $zoom }}
{{if gt $plen 8}}
{{$template_turn = concat "template_auto_front_" .ttd_len -}}{{$sections := concat $ani "_sections" -}}{{ altsprites8n $sections $template_turn $zoom "_front" }}
{{$template_turn = concat "template_auto_mid_" .ttd_len -}}{{$sections = concat $ani "_sections" -}}{{ altsprites8n $sections $template_turn $zoom "_mid" }}
{{$template_turn = concat "template_auto_rear_" .ttd_len -}}{{$sections = concat $ani "_sections" -}}{{ altsprites8n $sections $template_turn $zoom "_rear" }}
{{end}}

{{- else if .double_headed -}}
{{$rev := concat .id "_rev" }}
{{if eq .globals.bpp "32"}}{{ altsprites $rev $template $zoom }}{{else}}{{ altsprites8 $rev $template $zoom }}{{end}}

{{$template_turn := concat "template_auto_turn_1_" .ttd_len -}}
{{if eq .globals.bpp "32"}}{{ altspritesn $rev $template_turn $zoom "_turn_1" }}{{else}}{{ altsprites8n $rev $template_turn $zoom "_turn_1" }}{{end}}

{{$template_turn = concat "template_auto_turn_2_" .ttd_len -}}
{{if eq .globals.bpp "32"}}{{ altspritesn $rev $template_turn $zoom "_turn_2" }}{{else}}{{ altsprites8n $rev $template_turn $zoom "_turn_2" }}{{end}}

{{$template_turn = concat "template_auto_up_" .ttd_len -}}{{$hill := concat $rev "_up" }}
{{if eq .globals.bpp "32"}}{{ altsprites $hill $template_turn $zoom }}{{else}}{{ altsprites8 $hill $template_turn $zoom }}{{end}}

{{$template_turn = concat "template_auto_down_" .ttd_len -}}{{$hill = concat $rev "_down" }}
{{if eq .globals.bpp "32"}}{{ altsprites $hill $template_turn $zoom }}{{else}}{{ altsprites8 $hill $template_turn $zoom }}{{end}}

{{ if gt $plen 8}}
{{$sections := concat $rev "_sections" -}}
{{$template_turn = concat "template_auto_front_" .ttd_len -}}
{{if eq .globals.bpp "32"}}{{ altspritesn $sections $template_turn $zoom "_front" }}{{else}}{{ altsprites8n $sections $template_turn $zoom "_front" }}{{end}}
{{$template_turn = concat "template_auto_mid_" .ttd_len -}}
{{if eq .globals.bpp "32"}}{{ altspritesn $sections $template_turn $zoom "_mid" }}{{else}}{{ altsprites8n $sections $template_turn $zoom "_mid" }}{{end}}
{{$template_turn = concat "template_auto_rear_" .ttd_len -}}
{{if eq .globals.bpp "32"}}{{ altspritesn $sections $template_turn $zoom "_rear" }}{{else}}{{ altsprites8n $sections $template_turn $zoom "_rear" }}{{end}}
{{end}}

{{- end}}
{{- end }}

{{- $type := .type }}{{ $id := .id}}
{{if or (eq $type "dual_electric") (and (eq $type "dual_power") (eq .railtype "ELRL"))}}{{template "pantograph_graphics" . }}{{end}}

{{ if not .reuse_sprites }}
{{if gt $plen 8}}{{template "curve_switch_long" .id }}{{else if gt $plen 4 }}{{template "curve_switch_medium" .id }}{{else}}{{template "curve_switch_short" .id }}{{end}}
{{end}}
{{ if .double_headed }}{{$rev := concat .id "_rev"}}
{{if gt $plen 8}}{{template "curve_switch_long" $rev }}{{else if gt $plen 4 }}{{template "curve_switch_medium" $rev }}{{else}}{{template "curve_switch_short"  $rev }}{{end}}
{{end}}

// Articulation
switch(FEAT_TRAINS, SELF, switch_{{.id}}_articulation, extra_callback_info1) {
    0 .. {{if .tender}}5{{else}}2{{end}}: {{.id}};
    return CB_RESULT_NO_MORE_ARTICULATED_PARTS;
}

switch (FEAT_TRAINS, SELF, switch_{{.id}}_length, position_in_articulated_veh % {{if .tender}}6{{else}}3{{end}}) 
{
    {{range $index, $element := slice .articulated_lengths -}}
    {{$index }}: return {{ $element }};
    {{end}}    
}

{{if or (eq $type "dual_electric") (and (eq $type "dual_power") (eq .railtype "ELRL"))}}
{{template "pantograph_switch" . }}
{{end}}

{{ $sprite := .id}}{{ if .reuse_sprites }}{{ $sprite = .reuse_sprites }}{{end -}}
{{ if .animated -}}

{{ if not .reuse_sprites }}
{{$anim := concat $sprite "_anim_1" }}
{{if gt $plen 8}}{{template "curve_switch_long" $anim }}{{else if gt $plen 4 }}{{template "curve_switch_medium" $anim }}{{else}}{{template "curve_switch_short" $anim }}{{end}}
{{$anim = concat $sprite "_anim_2" }}
{{if gt $plen 8}}{{template "curve_switch_long" $anim }}{{else if gt $plen 4 }}{{template "curve_switch_medium" $anim }}{{else}}{{template "curve_switch_short" $anim }}{{end}}
{{$anim = concat $sprite "_anim_3" }}
{{if gt $plen 8}}{{template "curve_switch_long" $anim }}{{else if gt $plen 4 }}{{template "curve_switch_medium" $anim }}{{else}}{{template "curve_switch_short" $anim }}{{end}}
{{$anim = concat $sprite "_anim_4" }}
{{if gt $plen 8}}{{template "curve_switch_long" $anim }}{{else if gt $plen 4 }}{{template "curve_switch_medium" $anim }}{{else}}{{template "curve_switch_short" $anim }}{{end}}
{{end}}

switch (FEAT_TRAINS, SELF, switch_{{.id}}_animation, motion_counter % 4) 
{
    0: switch_{{$sprite}}_anim_1_curve;
    1: switch_{{$sprite}}_anim_2_curve;
    2: switch_{{$sprite}}_anim_3_curve;
    3: switch_{{$sprite}}_anim_4_curve;
}

{{ if gt $plen 8}}
switch (FEAT_TRAINS, SELF, switch_{{.id}}_animation_front, motion_counter % 4) 
{
    0: switch_{{$sprite}}_anim_1_curve_front;
    1: switch_{{$sprite}}_anim_2_curve_front;
    2: switch_{{$sprite}}_anim_3_curve_front;
    3: switch_{{$sprite}}_anim_4_curve_front;
}
switch (FEAT_TRAINS, SELF, switch_{{.id}}_animation_rear, motion_counter % 4) 
{
    0: switch_{{$sprite}}_anim_1_curve_rear;
    1: switch_{{$sprite}}_anim_2_curve_rear;
    2: switch_{{$sprite}}_anim_3_curve_rear;
    3: switch_{{$sprite}}_anim_4_curve_rear;
}
{{end}}


switch(FEAT_TRAINS, SELF, switch_{{.id}}_animation_overlay, [
    STORE_TEMP((getbits(extra_callback_info1, 8, 8) < 1 ? CB_FLAG_MORE_SPRITES : 0) | PALETTE_USE_DEFAULT, 0x100),
    getbits(extra_callback_info1, 8, 8)
    ]) {
    0: switch_{{$sprite}}_curve;
    1: switch_{{.id}}_animation;

    // This should never be executed
    return spriteset_invisible;
}

{{ if gt $plen 8}}
switch(FEAT_TRAINS, SELF, switch_{{.id}}_animation_overlay_front, [
    STORE_TEMP((getbits(extra_callback_info1, 8, 8) < 1 ? CB_FLAG_MORE_SPRITES : 0) | PALETTE_USE_DEFAULT, 0x100),
    getbits(extra_callback_info1, 8, 8)
    ]) {
    0: switch_{{$sprite}}_curve_front;
    1: switch_{{.id}}_animation_front;

    // This should never be executed
    return spriteset_invisible;
}

switch(FEAT_TRAINS, SELF, switch_{{.id}}_animation_overlay_rear, [
    STORE_TEMP((getbits(extra_callback_info1, 8, 8) < 1 ? CB_FLAG_MORE_SPRITES : 0) | PALETTE_USE_DEFAULT, 0x100),
    getbits(extra_callback_info1, 8, 8)
    ]) {
    0: switch_{{$sprite}}_curve_rear;
    1: switch_{{.id}}_animation_rear;

    // This should never be executed
    return spriteset_invisible;
}
{{end}}

switch (FEAT_TRAINS, SELF, switch_{{.id}}_graphics, position_in_articulated_veh % {{if .tender}}6{{else}}3{{end}}) 
{
    1: switch_{{.id}}_animation_overlay;
    {{ if gt $plen 8}}
    0: switch_{{.id}}_animation_overlay_front;
    2: switch_{{.id}}_animation_overlay_rear;
    {{ end }}
    {{- if .tender }}
    4: switch_{{.tender}}_curve;
    {{- end}}
    return spriteset_invisible;
}

{{else if .double_headed -}}
switch (FEAT_TRAINS, SELF, switch_{{.id}}_fwd_graphics, position_in_articulated_veh % 3) 
{
    1: switch_{{.id}}_curve;
    {{ if gt $plen 8}}
    0: switch_{{.id}}_curve_front;
    2: switch_{{.id}}_curve_rear;
    {{ end }}
    return spriteset_invisible;
}

switch (FEAT_TRAINS, SELF, switch_{{.id}}_rev_graphics, position_in_articulated_veh % 3) 
{
    1: switch_{{.id}}_rev_curve;
    {{ if gt $plen 8}}
    0: switch_{{.id}}_rev_curve_front;
    2: switch_{{.id}}_rev_curve_rear;
    {{ end }}
    return spriteset_invisible;
}

{{if eq .double_headed "2"}}
switch (FEAT_TRAINS, SELF, switch_{{.id}}_graphics_inner, num_vehs_in_consist > 6 ? position_in_consist_from_end : -1) {
    0..2: switch_{{.id}}_rev_graphics;
    switch_{{.id}}_fwd_graphics;
}

switch (FEAT_TRAINS, SELF, {{if le $plen 8 }}switch_{{.id}}_reverse{{else}}switch_{{.id}}_graphics{{end}}, position_in_consist % 6) {
    0..2: switch_{{.id}}_graphics_inner;
    switch_{{.id}}_rev_graphics;
}
{{else}}
switch (FEAT_TRAINS, SELF, {{if le $plen 8 }}switch_{{.id}}_reverse{{else}}switch_{{.id}}_graphics{{end}},  num_vehs_in_consist > 3 ? position_in_consist_from_end : -1) {
    0..2: switch_{{.id}}_rev_graphics;
    switch_{{.id}}_fwd_graphics;
}
{{end}}

{{if le $plen 8 }}
switch (FEAT_TRAINS, SELF, switch_{{.id}}_graphics, position_in_articulated_veh % 3) 
{
    1: switch_{{.id}}_reverse;
    return spriteset_invisible;
}
{{end}}

{{else -}}
switch (FEAT_TRAINS, SELF, switch_{{.id}}_graphics, position_in_articulated_veh % {{if .tender}}6{{else}}3{{end}}) 
{
    {{if or (eq $type "dual_electric") (and (eq $type "dual_power") (eq .railtype "ELRL"))}}
    1: switch_{{$id}}_pantograph;
    {{ if gt $plen 8}}
    0: switch_{{$id}}_pantograph_front;
    2: switch_{{$id}}_pantograph_rear;
    {{ end }}
    {{else}}
    1: switch_{{$sprite}}_curve;
    {{ if gt $plen 8}}
    0: switch_{{$sprite}}_curve_front;
    2: switch_{{$sprite}}_curve_rear;
    {{ end }}
    {{end}}
    {{- if .tender }}
    4: switch_{{.tender}}_curve;
    {{- end}}

    return spriteset_invisible;
}
{{- end}}

{{template "visual_effect_power" . }}
{{template "running_cost_switch" . }}
{{ if .requires_second_power_car }}{{template "power_car_check" . }}{{end}}

item(FEAT_TRAINS, {{.id}}, {{.numeric_id}}) {
    property {
        name:                         {{.name_string}};
        climates_available:           {{ if .enable_param }} {{.enable_param}} ? {{end}} ALL_CLIMATES {{ if .enable_param }} : NO_CLIMATE {{end}};        
        introduction_date:            date({{.year}}, {{.intro_month}}, 1);
        model_life:                   {{if .service}}{{.lifespan}};{{else}}VEHICLE_NEVER_EXPIRES;{{end}}
        retire_early:                 4;
        vehicle_life:                 {{.vehicle_life}};

        {{ if .dvt }}{{if eq .default_cargo "PASS" }}
        refittable_cargo_classes: bitmask(CC_PASSENGERS, CC_MAIL);
        cargo_allow_refit: [ YETI, YETY ];{{else}}
        refittable_cargo_classes: bitmask(CC_MAIL);{{end}}
        {{ else if eq .default_cargo "PASS" }}
        refittable_cargo_classes: bitmask(CC_PASSENGERS);
        cargo_allow_refit: [ YETI, YETY ]; 
        {{end}}

        {{ if eq .type "steam" -}}
        engine_class:                 ENGINE_CLASS_STEAM;
        {{ else if eq .type "electric" -}}
        engine_class:                 ENGINE_CLASS_ELECTRIC;
        {{ else if eq .type "tube" -}}
        engine_class:                 ENGINE_CLASS_ELECTRIC;
        {{else -}}
        engine_class:                 ENGINE_CLASS_DIESEL;
        {{- end}}

        {{if .cargo_age_period}}cargo_age_period:             {{.cargo_age_period}};{{end}}
        running_cost_base:            RUNNING_COST_DIESEL;
        tractive_effort_coefficient:  {{.te_coeff}};
        power:                        {{.power}} hp;
        speed:                        {{.speed}} mph;
        reliability_decay:            20;
        {{if .loading_speed}}loading_speed:                {{.loading_speed}};{{end}}
        cost_factor:                  {{.cost}};
        running_cost_factor:          {{.running_cost}};
        sprite_id:                    SPRITE_ID_NEW_TRAIN;
        misc_flags:                   bitmask(TRAIN_FLAG_2CC {{if .animated}}, TRAIN_FLAG_SPRITE_STACK{{end}}{{if or (eq $type "dual_electric") (and (eq $type "dual_power") (eq .railtype "ELRL"))}}, TRAIN_FLAG_SPRITE_STACK{{end}});
        refit_cost:                   0;
        track_type:                   {{ if eq .type "dual_power" -}}RAIL{{else}}{{.railtype}}{{end}};
        dual_headed:                  0;

        {{if lt $speed 50 -}}
        air_drag_coefficient:         0.1;
        {{- else -}}
        air_drag_coefficient:         7 / ({{.speed}} * 1.6);
        {{- end}}

        {{if .capacity -}}
        cargo_capacity:               {{.capacity}} / 3;
        {{if ne .capacity "0"}}
        default_cargo_type:           {{.default_cargo}};
        {{end}}{{end}}
        weight:                       {{.weight}} {{if .tender_weight}} + {{.tender_weight}} {{end}} ton;
        
    }

    graphics {
        default:  switch_{{.id}}_graphics;
        purchase:  spriteset_{{.id}}_purchase;
        additional_text: return {{.additional_text_string}};
        articulated_part: switch_{{.id}}_articulation;
        length: switch_{{.id}}_length;
        running_cost_factor: switch_{{.id}}_running_cost;
        purchase_running_cost_factor: return {{.running_cost}};
        visual_effect_and_powered: switch_{{.id}}_visual_effect;
        {{if .secondary_power}}{{ if eq .type "dual_power" "dual_electric" -}}power: switch_{{.id}}_power;{{end}}{{end}}
        {{if ne .capacity "0"}}purchase_cargo_capacity:  {{if .reuse_sprites}}spriteset_{{.reuse_sprites}}{{else}}spriteset_{{.id}}{{end}};{{end}}
        {{ if .requires_second_power_car }}start_stop: switch_{{.id}}_power_car_check;{{end}}
    }
}

