{{ $zoom := parseint .globals.zoom }}

// Graphics - animated or not
{{ if .animated -}}
{{ $ani1 := concat .id "_anim_1" }}{{ altsprites $ani1 "template_rail" $zoom }}
{{ $ani2 := concat .id "_anim_2" }}{{ altsprites $ani2 "template_rail" $zoom }}
{{ $ani3 := concat .id "_anim_3" }}{{ altsprites $ani3 "template_rail" $zoom }}
{{ $ani4 := concat .id "_anim_4" }}{{ altsprites $ani4 "template_rail" $zoom }}
{{ else -}}
{{ altsprites .id "template_rail" $zoom }}
{{- end }}


// Articulation
switch(FEAT_TRAINS, SELF, switch_{{.id}}_articulation, extra_callback_info1) {
    1 .. 2: return vehicle_{{.id}};
    return CB_RESULT_NO_MORE_ARTICULATED_PARTS;
}

switch (FEAT_TRAINS, SELF, switch_{{.id}}_length, position_in_consist % 3) 
{
    {{- range $index, $element := slice .articulated_lengths -}}
    {{$index }}: return {{ $element }};
    {{- end}}    
}


{{ if .animated -}}
switch (FEAT_TRAINS, SELF, switch_{{.id}}_animation, motion_counter % 4) 
{
    0: return spriteset_{{.id}}_anim_1;
    1: return spriteset_{{.id}}_anim_2;
    2: return spriteset_{{.id}}_anim_3;
    3: return spriteset_{{.id}}_anim_4;
}

switch (FEAT_TRAINS, SELF, switch_{{.id}}_graphics, position_in_consist % 3) 
{
    1: switch_{{.id}}_animation;
    return spriteset_invisible;
}
{{else -}}
switch (FEAT_TRAINS, SELF, switch_{{.id}}_graphics, position_in_consist % 3) 
{
    1: return spriteset_{{.id}};
    return spriteset_invisible;
}
{{- end}}



item(FEAT_TRAINS, vehicle_{{.id}}) {
    property {
        name:                         {{.name_string}};
        climates_available:           bitmask(CLIMATE_TEMPERATE, CLIMATE_ARCTIC, CLIMATE_TROPICAL);
        introduction_date:            date({{.year}}, 1, 1);
        model_life:                   VEHICLE_NEVER_EXPIRES;
        vehicle_life:                 30;

        engine_class: ENGINE_CLASS_DIESEL;
        tractive_effort_coefficient:  {{.te_coeff}};

        power:                        {{.power}} hp;
        speed:                        {{.speed}} mph;
        reliability_decay:            20;
        loading_speed:                9;
        cost_factor:                  5;
        running_cost_factor:          5;
        sprite_id:                    SPRITE_ID_NEW_TRAIN;
        misc_flags:                   bitmask(TRAIN_FLAG_2CC);
        refit_cost:                   0;
        track_type:                   RAIL;
        running_cost_base:            RUNNING_COST_DIESEL;
        {{if .capacity}}cargo_capacity:               {{.capacity}};{{end}}
        weight:                       {{.weight}} ton;
        length:                       8;
        
    }

    graphics {
        default:  switch_{{.id}}_graphics;
        articulated_part: switch_{{.id}}_articulation;
        length: switch_{{.id}}_length;
    }
}
