{{ $zoom := parseint .globals.zoom }}


{{- $layout := slice .layout -}}
{{- $newsprites := slice .new_sprites -}}
{{- $len := .ttd_len -}}{{- $bpp := .globals.bpp -}}

{{- range $index, $element := $layout -}}
{{- $newsprite := index $newsprites $index -}}
{{- if eq $newsprite "1" -}}
{{$template := concat "template_auto_" $len -}}
{{if eq $bpp "32"}}{{ altsprites $element $template $zoom }}{{else}}{{ altsprites8 $element $template $zoom }}{{end}}

{{$template_turn := concat "template_auto_turn_1_" $len -}}
{{if eq $bpp "32"}}{{ altspritesn $element $template_turn $zoom "_turn_1" }}{{else}}{{ altsprites8n $element $template_turn $zoom "_turn_1" }}{{end}}

{{$template_turn = concat "template_auto_turn_2_" $len -}}
{{if eq $bpp "32"}}{{ altspritesn $element $template_turn $zoom "_turn_2" }}{{else}}{{ altsprites8n $element $template_turn $zoom "_turn_2" }}{{end}}

{{end -}}
{{end}}

{{- $type := .type }}{{$pantograph_unit := .pantograph_unit -}}{{- $id := .id}}
{{ if eq .type "dual_electric" -}}{{template "pantograph_graphics" . }}{{end}}

// Articulation
switch(FEAT_TRAINS, SELF, switch_{{.id}}_articulation, extra_callback_info1) {
    0 .. ({{.cars}} * 3) - 1: vehicle_{{.id}};
    return CB_RESULT_NO_MORE_ARTICULATED_PARTS;
}

{{ if .manual_lengths }}
{{- $lengths := slice .manual_lengths }}
// This MU has different lengths per unit
switch (FEAT_TRAINS, SELF, switch_{{.id}}_length, position_in_articulated_veh % {{len $lengths}} ) 
{
    {{range $index, $element := $lengths -}}
    {{$index }}: return {{ $element }};
    {{end}}    
}
{{ else }}
// All parts of this MU are the same length
switch (FEAT_TRAINS, SELF, switch_{{.id}}_length, position_in_articulated_veh % 3 ) 
{
    {{range $index, $element := slice .articulated_lengths -}}
    {{$index }}: return {{ $element }};
    {{end}}    
}
{{end}}

{{range $index, $element := $layout -}}
{{- $newsprite := index $newsprites $index -}}
{{- if eq $newsprite "1" -}}
{{template "curve_switch" $element }}
{{end}}
{{end}}

{{ if eq .type "dual_electric" -}}
{{template "pantograph_switch" . }}
{{end}}

{{template "running_cost_switch" . }}

switch (FEAT_TRAINS, SELF, switch_{{.id}}_graphics, position_in_articulated_veh % ({{.cars}} * 3)) 
{
    {{range $index, $element := $layout -}}
    {{- if eq $type "dual_electric"}}
    ({{$index}} * 3) + 1: {{if eq $element $pantograph_unit }}return switch_{{$id}}_pantograph{{else}}return switch_{{$element}}_curve{{end}};
    {{- else }}
    ({{$index}} * 3) + 1: return switch_{{$element}}_curve;
    {{- end}}
    {{end}}
    return spriteset_invisible;
}


// Visual effect
switch (FEAT_TRAINS, SELF, switch_{{.id}}_visual_effect, position_in_articulated_veh % ({{.cars}}  * 3)) 
{ 
    {{ if eq .type "steam" -}}
    0: return visual_effect(VISUAL_EFFECT_STEAM, -1);
    {{ else if eq .type "electric" -}}
    1: return visual_effect(VISUAL_EFFECT_ELECTRIC, 0);
    {{ else if eq .type "dual_electric" -}}
    1: return visual_effect(VISUAL_EFFECT_ELECTRIC, 0);
    {{else -}}
    1: return visual_effect(VISUAL_EFFECT_DIESEL, 0);
    {{- end}}
    return VISUAL_EFFECT_DISABLE;
}

item(FEAT_TRAINS, vehicle_{{.id}}, {{.numeric_id}}) {
    property {
        name:                         {{.name_string}};
        climates_available:           bitmask(CLIMATE_TEMPERATE, CLIMATE_ARCTIC, CLIMATE_TROPICAL, CLIMATE_TOYLAND);
        introduction_date:            date({{.year}}, 1, 1);
        model_life:                   {{if .service}}{{.service}} - {{.year}} - 8;{{else}}VEHICLE_NEVER_EXPIRES;{{end}}
        vehicle_life:                 {{.vehicle_life}};

        {{ if eq .type "steam" -}}
        engine_class:                 ENGINE_CLASS_STEAM;
        {{ else if eq .type "electric" -}}
        engine_class:                 ENGINE_CLASS_ELECTRIC;
        {{else -}}
        engine_class:                 ENGINE_CLASS_DIESEL;
        {{- end}}

        running_cost_base:            RUNNING_COST_DIESEL;
        tractive_effort_coefficient:  {{.te_coeff}};

        power:                        {{.power}} hp;
        speed:                        {{.speed}} mph;
        reliability_decay:            20;
        {{if .loading_speed}}loading_speed:                {{.loading_speed}};{{end}}
        cost_factor:                  {{.cost}};
        running_cost_factor:          {{.running_cost}};
        sprite_id:                    SPRITE_ID_NEW_TRAIN;
        misc_flags:                   bitmask(TRAIN_FLAG_2CC, TRAIN_FLAG_MU {{if eq .type "dual_electric"}}, TRAIN_FLAG_SPRITE_STACK{{end}} {{ if .tilting }}, TRAIN_FLAG_TILT {{end}});
        refit_cost:                   0;
        track_type:                   {{.railtype}};
 
        dual_headed:                0;

        {{if .capacity}}
        cargo_capacity:               {{.capacity}} / 3;
        {{if ne .capacity "0"}}
        default_cargo_type:           {{.default_cargo}};
        {{end}}{{end}}
        weight:                       {{.weight}} ton;
        
    }

    graphics {
        default:  switch_{{.id}}_graphics;
        purchase:  {{if .reuse_sprites}}spriteset_{{.reuse_sprites}}{{else}}spriteset_{{.id}}{{end}};
        additional_text: return {{.additional_text_string}};
        articulated_part: switch_{{.id}}_articulation;
        length: switch_{{.id}}_length;
        running_cost_factor: switch_{{.id}}_running_cost;
        purchase_running_cost_factor: return {{.running_cost}};
        visual_effect_and_powered: switch_{{.id}}_visual_effect;
        {{if .capacity}}purchase_cargo_capacity:  {{if .reuse_sprites}}spriteset_{{.reuse_sprites}}{{else}}spriteset_{{.id}}{{end}};{{end}}
    }
}
