{{ $zoom := parseint .globals.zoom }}

{{$len := .ttd_len}}{{$plen := parseint .ttd_len}}
{{$template := concat "template_auto_" .ttd_len -}}
{{$template_turn_1 := concat "template_auto_turn_1_" .ttd_len -}}
{{$template_turn_2 := concat "template_auto_turn_2_" .ttd_len -}}
{{$template_up := concat "template_auto_up_" .ttd_len -}}
{{$template_down := concat "template_auto_down_" .ttd_len -}}


spriteset(spriteset_{{.id}}_purchase, "1x/{{.id}}_purchase.png")
{ template_purchase_1x() }


{{if eq .globals.bpp "32"}}{{ altsprites .id $template $zoom }}{{else}}{{ altsprites8 .id $template $zoom }}{{end}}
{{if eq .globals.bpp "32"}}{{ altspritesn .id $template_turn_1 $zoom "_turn_1" }}{{else}}{{ altsprites8n .id $template_turn_1 $zoom "_turn_1" }}{{end}}
{{if eq .globals.bpp "32"}}{{ altspritesn .id $template_turn_2 $zoom "_turn_2" }}{{else}}{{ altsprites8n .id $template_turn_2 $zoom "_turn_2" }}{{end}}

{{$hill := concat .id "_up"}}{{if eq .globals.bpp "32"}}{{ altspritesn $hill $template_up $zoom "_up" }}{{else}}{{ altsprites8n $hill $template_up $zoom "_up" }}{{end}}
{{$hill = concat .id "_down"}}{{if eq .globals.bpp "32"}}{{ altspritesn $hill $template_down $zoom "_down" }}{{else}}{{ altsprites8n $hill $template_down $zoom "_down" }}{{end}}

{{ if gt $plen 8}}
{{$sections := concat .id "_sections" -}}
{{$template_turn := concat "template_auto_front_" .ttd_len -}}
{{if eq .globals.bpp "32"}}{{ altspritesn $sections $template_turn $zoom "_front" }}{{else}}{{ altsprites8n $sections $template_turn $zoom "_front" }}{{end}}
{{$template_turn = concat "template_auto_mid_" .ttd_len -}}
{{if eq .globals.bpp "32"}}{{ altspritesn $sections $template_turn $zoom "_mid" }}{{else}}{{ altsprites8n $sections $template_turn $zoom "_mid" }}{{end}}
{{$template_turn = concat "template_auto_rear_" .ttd_len -}}
{{if eq .globals.bpp "32"}}{{ altspritesn $sections $template_turn $zoom "_rear" }}{{else}}{{ altsprites8n $sections $template_turn $zoom "_rear" }}{{end}}
{{end}}

{{if .replace_last_wagon}}
// Last wagon replacement sprite
{{if eq .globals.bpp "32"}}{{ altsprites .replace_last_wagon $template $zoom }}{{else}}{{ altsprites8 .replace_last_wagon $template $zoom }}{{end}}
{{if eq .globals.bpp "32"}}{{ altspritesn .replace_last_wagon $template_turn_1 $zoom "_turn_1" }}{{else}}{{ altsprites8n .replace_last_wagon $template_turn_1 $zoom "_turn_1" }}{{end}}
{{if eq .globals.bpp "32"}}{{ altspritesn .replace_last_wagon $template_turn_2 $zoom "_turn_2" }}{{else}}{{ altsprites8n .replace_last_wagon $template_turn_2 $zoom "_turn_2" }}{{end}}

{{$hill := concat .replace_last_wagon "_up"}}{{if eq .globals.bpp "32"}}{{ altspritesn $hill $template_up $zoom "_up" }}{{else}}{{ altsprites8n $hill $template_up $zoom "_up" }}{{end}}
{{$hill = concat .replace_last_wagon "_down"}}{{if eq .globals.bpp "32"}}{{ altspritesn $hill $template_down $zoom "_down" }}{{else}}{{ altsprites8n $hill $template_down $zoom "_down" }}{{end}}

{{ if gt $plen 8}}
{{$sections := concat .replace_last_wagon "_sections" -}}
{{$template_turn := concat "template_auto_front_" .ttd_len -}}
{{if eq .globals.bpp "32"}}{{ altspritesn $sections $template_turn $zoom "_front" }}{{else}}{{ altsprites8n $sections $template_turn $zoom "_front" }}{{end}}
{{$template_turn = concat "template_auto_mid_" .ttd_len -}}
{{if eq .globals.bpp "32"}}{{ altspritesn $sections $template_turn $zoom "_mid" }}{{else}}{{ altsprites8n $sections $template_turn $zoom "_mid" }}{{end}}
{{$template_turn = concat "template_auto_rear_" .ttd_len -}}
{{if eq .globals.bpp "32"}}{{ altspritesn $sections $template_turn $zoom "_rear" }}{{else}}{{ altsprites8n $sections $template_turn $zoom "_rear" }}{{end}}
{{end}}

{{end}}


{{if gt $plen 8}}{{template "curve_switch_long" .id }}{{else if gt $plen 4 }}{{template "curve_switch_medium" .id }}{{else}}{{template "curve_switch_short" .id }}{{end}}

// Cargo sprites
{{ $cargo_list := "" -}}{{ $id := .id -}}
{{if eq .cargo_handling "Bulk" -}}
{{ $cargo_list = "bulk" -}}
{{else if eq .cargo_handling "Steel" -}}
{{ $cargo_list = "metal" -}}
{{else if eq .cargo_handling "Bolster" -}}
{{ $cargo_list = "bdmt,wood,crate,metal,timber,fmsp_old,fmsp_modern,ensp_old,ensp_modern,tyre,pipe,stsh,stwr,rbar" -}}

{{if gt $plen 4 }}
{{ $cargo_list = concat $cargo_list ",vehicle_1800,vehicle_1910,vehicle_1970,vehicle_2010,vehicle_body_1800,vehicle_body_1910,vehicle_body_1970,vehicle_body_2010" }}
{{else}}
{{ $cargo_list = concat $cargo_list ",vehicle,vehicle_body" }}
{{end}}
{{else if eq .cargo_handling "Container" -}}
{{ $cargo_list = "container" -}}
{{end -}}

{{ if $cargo_list}}
{{$fullid := concat $id "_none"}}{{ altsprites8 $fullid $template $zoom }}
{{ altsprites8n $fullid $template_turn_1 $zoom "_turn_1" }}
{{ altsprites8n $fullid $template_turn_2 $zoom "_turn_2" }}
{{$hill := concat $fullid "_up"}}{{ altsprites8n $hill $template_up $zoom "_up" }}
{{$hill = concat $fullid "_down"}}{{ altsprites8n $hill $template_down $zoom "_down" }}

{{if gt $plen 8}}
{{$sections := concat $fullid "_sections" -}}
{{$template_turn := concat "template_auto_front_" $len -}}
{{ altsprites8n $sections $template_turn $zoom "_front" }}
{{$template_turn = concat "template_auto_mid_" $len -}}
{{ altsprites8n $sections $template_turn $zoom "_mid" }}
{{$template_turn = concat "template_auto_rear_" $len -}}
{{ altsprites8n $sections $template_turn $zoom "_rear" }}
{{end}}

{{end}}

{{ range $index, $element := slice $cargo_list -}}{{ if $element -}}
// Cargo: {{$element}}
// cargo sprites are always 8 bit
{{$elus := concat "_" $element}}{{ range $idx2, $el2 := slice "_half,_full" }}
{{$cargo := concat $elus $el2  }}
{{$fullid := concat $id $cargo}}{{ altsprites8 $fullid $template $zoom }}
{{ altsprites8n $fullid $template_turn_1 $zoom "_turn_1" }}
{{ altsprites8n $fullid $template_turn_2 $zoom "_turn_2" }}
{{$hill := concat $fullid "_up"}}{{ altsprites8n $hill $template_up $zoom "_up" }}
{{$hill = concat $fullid "_down"}}{{ altsprites8n $hill $template_down $zoom "_down" }}

{{if gt $plen 8}}
{{$sections := concat $fullid "_sections" -}}
{{$template_turn := concat "template_auto_front_" $len -}}
{{ altsprites8n $sections $template_turn $zoom "_front" }}
{{$template_turn = concat "template_auto_mid_" $len -}}
{{ altsprites8n $sections $template_turn $zoom "_mid" }}
{{$template_turn = concat "template_auto_rear_" $len -}}
{{ altsprites8n $sections $template_turn $zoom "_rear" }}
{{end}}

{{end -}}
{{$cargoid := concat $id $elus }}
spritegroup spritegroup_{{$cargoid}} {
	loading: [spriteset_{{$id}}_none, spriteset_{{$id}}_{{$element}}_half, spriteset_{{$id}}_{{$element}}_half, spriteset_{{$id}}_{{$element}}_full ];
	loaded: [spriteset_{{$id}}_none, spriteset_{{$id}}_{{$element}}_half, spriteset_{{$id}}_{{$element}}_half, spriteset_{{$id}}_{{$element}}_full ];
}

spritegroup spritegroup_{{$cargoid}}_turn_1 {
	loading: [spriteset_{{$id}}_none_turn_1, spriteset_{{$id}}_{{$element}}_half_turn_1, spriteset_{{$id}}_{{$element}}_half_turn_1, spriteset_{{$id}}_{{$element}}_full_turn_1 ];
	loaded: [spriteset_{{$id}}_none_turn_1, spriteset_{{$id}}_{{$element}}_half_turn_1, spriteset_{{$id}}_{{$element}}_half_turn_1, spriteset_{{$id}}_{{$element}}_full_turn_1 ];
}

spritegroup spritegroup_{{$cargoid}}_turn_2 {
	loading: [spriteset_{{$id}}_none_turn_2,spriteset_{{$id}}_{{$element}}_half_turn_2, spriteset_{{$id}}_{{$element}}_half_turn_2, spriteset_{{$id}}_{{$element}}_full_turn_2 ];
	loaded: [spriteset_{{$id}}_none_turn_2,spriteset_{{$id}}_{{$element}}_half_turn_2, spriteset_{{$id}}_{{$element}}_half_turn_2, spriteset_{{$id}}_{{$element}}_full_turn_2 ];
}

spritegroup spritegroup_{{$cargoid}}_up {
	loading: [spriteset_{{$id}}_none_up_up,spriteset_{{$id}}_{{$element}}_half_up_up, spriteset_{{$id}}_{{$element}}_half_up_up, spriteset_{{$id}}_{{$element}}_full_up_up ];
	loaded: [spriteset_{{$id}}_none_up_up,spriteset_{{$id}}_{{$element}}_half_up_up, spriteset_{{$id}}_{{$element}}_half_up_up, spriteset_{{$id}}_{{$element}}_full_up_up ];
}

spritegroup spritegroup_{{$cargoid}}_down {
	loading: [spriteset_{{$id}}_none_down_down,spriteset_{{$id}}_{{$element}}_half_down_down, spriteset_{{$id}}_{{$element}}_half_down_down, spriteset_{{$id}}_{{$element}}_full_down_down ];
	loaded: [spriteset_{{$id}}_none_down_down,spriteset_{{$id}}_{{$element}}_half_down_down, spriteset_{{$id}}_{{$element}}_half_down_down, spriteset_{{$id}}_{{$element}}_full_down_down ];
}

{{if gt $plen 8}}
spritegroup spritegroup_{{$cargoid}}_sections_front {
	loading: [spriteset_{{$id}}_none_sections_front,spriteset_{{$id}}_{{$element}}_half_sections_front, spriteset_{{$id}}_{{$element}}_half_sections_front, spriteset_{{$id}}_{{$element}}_full_sections_front ];
	loaded: [spriteset_{{$id}}_none_sections_front,spriteset_{{$id}}_{{$element}}_half_sections_front, spriteset_{{$id}}_{{$element}}_half_sections_front, spriteset_{{$id}}_{{$element}}_full_sections_front ];
}

spritegroup spritegroup_{{$cargoid}}_sections_mid {
	loading: [spriteset_{{$id}}_none_sections_mid,spriteset_{{$id}}_{{$element}}_half_sections_mid, spriteset_{{$id}}_{{$element}}_half_sections_mid, spriteset_{{$id}}_{{$element}}_full_sections_mid ];
	loaded: [spriteset_{{$id}}_none_sections_mid,spriteset_{{$id}}_{{$element}}_half_sections_mid, spriteset_{{$id}}_{{$element}}_half_sections_mid, spriteset_{{$id}}_{{$element}}_full_sections_mid ];
}

spritegroup spritegroup_{{$cargoid}}_sections_rear {
	loading: [spriteset_{{$id}}_none_sections_rear,spriteset_{{$id}}_{{$element}}_half_sections_rear, spriteset_{{$id}}_{{$element}}_half_sections_rear, spriteset_{{$id}}_{{$element}}_full_sections_rear ];
	loaded: [spriteset_{{$id}}_none_sections_rear,spriteset_{{$id}}_{{$element}}_half_sections_rear, spriteset_{{$id}}_{{$element}}_half_sections_rear, spriteset_{{$id}}_{{$element}}_full_sections_rear ];
}
{{end}}

{{if gt $plen 8}}{{template "cargo_curve_switch_long" $cargoid }}{{else if gt $plen 4 }}{{template "cargo_curve_switch_medium" $cargoid }}{{else}}{{template "cargo_curve_switch_short" $cargoid }}{{end}}

{{end -}}{{ end }}
// End cargo sprites

{{ $has_cargo_switch := "" }}
{{ $bulk_cargos := "aore,bdmt,bean,cass,cblk,cmnt,cere,clay,coal,coke,core,ctcd,fecr,ficr,frut,grai,grvl,iore,lime,kaol,maiz,mno2,nitr,olsd,peat,phos,pota,pore,qlme,rcyc,salt,sand,sash,scmt,sgbt,sgcn,slag,sugr,sulp,toff,uran,whea" }}
{{ $bolster_cargos := "bdmt,wood,batt,beer,boom,bubl,cera,fzdr,java,nuts,papr,powr,toys,veng,vpts,plas,dyes,mnsp,ficr,soap,coat,copr,csti,iron,metl,stal,stcb,stel,stst,zinc,wdpr,fmsp,ensp,tyre,pipe,vbod,vehi,stsh,stwr,rbar" }}
{{ $metal_cargos := "copr,csti,iron,metl,stal,stcb,stel,stst,zinc" }}
{{ if eq .cargo_handling "Bulk" }}
{{ $has_cargo_switch = "1" }}
{{ range $index, $element := slice $bulk_cargos }}
switch(FEAT_TRAINS, SELF, switch_{{$id}}_cargo_{{$element}}, [
    STORE_TEMP((getbits(extra_callback_info1, 8, 8) < 1 ? CB_FLAG_MORE_SPRITES : 0) | (getbits(extra_callback_info1, 8, 8) == 1 ? recolour_bulk + {{$index}} : PALETTE_USE_DEFAULT), 0x100),
    getbits(extra_callback_info1, 8, 8)
    ]) {
    0: switch_{{$id}}_curve;
    1: switch_{{$id}}_bulk_curve;

    // This should never be executed
    return spriteset_invisible;
}

{{ if gt $plen 8}}
switch(FEAT_TRAINS, SELF, switch_{{$id}}_cargo_{{$element}}_front, [
    STORE_TEMP((getbits(extra_callback_info1, 8, 8) < 1 ? CB_FLAG_MORE_SPRITES : 0) | PALETTE_USE_DEFAULT, 0x100),
    getbits(extra_callback_info1, 8, 8)
    ]) {
    0: switch_{{$id}}_curve_front;
    1: switch_{{$id}}_bulk_curve_front;

    // This should never be executed
    return spriteset_invisible;
}

switch(FEAT_TRAINS, SELF, switch_{{$id}}_cargo_{{$element}}_rear, [
    STORE_TEMP((getbits(extra_callback_info1, 8, 8) < 1 ? CB_FLAG_MORE_SPRITES : 0) | PALETTE_USE_DEFAULT, 0x100),
    getbits(extra_callback_info1, 8, 8)
    ]) {
    0: switch_{{$id}}_curve_rear;
    1: switch_{{$id}}_bulk_curve_rear;

    // This should never be executed
    return spriteset_invisible;
}
{{ end }}



switch (FEAT_TRAINS, SELF, switch_{{$id}}_graphics_{{$element}}, position_in_articulated_veh % 3) 
{
    1: return switch_{{$id}}_cargo_{{$element}};
    {{ if gt $plen 8}}
    0: return switch_{{$id}}_cargo_{{$element}}_front;
    2: return switch_{{$id}}_cargo_{{$element}}_rear;
    {{ end }}
    return spriteset_invisible;
}
{{ end }}
{{else if eq .cargo_handling "Steel" }}
{{ $has_cargo_switch = "1" }}
{{ range $index, $element := slice $metal_cargos }}
{{ $palette := printf "recolour_metal + %d" $index }}

switch(FEAT_TRAINS, SELF, switch_{{$id}}_cargo_{{$element}}, [
    STORE_TEMP((getbits(extra_callback_info1, 8, 8) < 1 ? CB_FLAG_MORE_SPRITES : 0) | (getbits(extra_callback_info1, 8, 8) == 1 ? {{$palette}} : PALETTE_USE_DEFAULT), 0x100),
    getbits(extra_callback_info1, 8, 8)
    ]) {
    0: switch_{{$id}}_curve;
    1: switch_{{$id}}_metal_curve;


    // This should never be executed
    return spriteset_invisible;
}

{{ if gt $plen 8}}
switch(FEAT_TRAINS, SELF, switch_{{$id}}_cargo_{{$element}}_front, [
    STORE_TEMP((getbits(extra_callback_info1, 8, 8) < 1 ? CB_FLAG_MORE_SPRITES : 0) | PALETTE_USE_DEFAULT, 0x100),
    getbits(extra_callback_info1, 8, 8)
    ]) {
    0: switch_{{$id}}_curve_front;
    1: switch_{{$id}}_metal_curve_front;

    // This should never be executed
    return spriteset_invisible;
}

switch(FEAT_TRAINS, SELF, switch_{{$id}}_cargo_{{$element}}_rear, [
    STORE_TEMP((getbits(extra_callback_info1, 8, 8) < 1 ? CB_FLAG_MORE_SPRITES : 0) | PALETTE_USE_DEFAULT, 0x100),
    getbits(extra_callback_info1, 8, 8)
    ]) {
    0: switch_{{$id}}_curve_rear;
    1: switch_{{$id}}_metal_curve_rear;

    // This should never be executed
    return spriteset_invisible;
}
{{ end }}

switch (FEAT_TRAINS, SELF, switch_{{$id}}_graphics_{{$element}}, position_in_articulated_veh % 3) 
{
    1: return switch_{{$id}}_cargo_{{$element}};
    {{ if gt $plen 8}}
    0: return switch_{{$id}}_cargo_{{$element}}_front;
    2: return switch_{{$id}}_cargo_{{$element}}_rear;
    {{ end }}
    return spriteset_invisible;
}
{{ end }}
{{ else if eq .cargo_handling "Bolster" }}
{{ $has_cargo_switch = "1" }}
{{ range $index, $element := slice $bolster_cargos }}
{{ $palette := "PALETTE_USE_DEFAULT" }}{{ $cargosprite := $element }}

// Check recolour cargo
// Be careful to update numbers when adding/removing cargo types
{{if eq $element "batt" "beer" "boom" "bubl" "cera" "fzdr" "java" "nuts" "papr" "powr" "toys" "veng" "vpts" "plas" "dyes" "ficr" "mnsp" "soap" "coat" }}{{ $palette = printf "recolour_crate + %d - 2" $index }}{{ $cargosprite = "crate"}}{{end}}
{{if eq $element "copr" "csti" "iron" "metl" "stal" "stcb" "stel" "stst" "zinc" }}{{ $palette =  printf "recolour_metal + %d - 21" $index }}{{ $cargosprite = "metal"}}{{end}}
{{if eq $element "wdpr" }}{{ $cargosprite = "timber"}}{{end}}
{{if eq $element "vbod" }}{{ $cargosprite = "vehicle_body"}}{{end}}
{{if eq $element "vehi" }}{{ $cargosprite = "vehicle"}}{{end}}


{{ if eq $element "fmsp" }}
switch(FEAT_TRAINS, SELF, switch_{{$id}}_age_dependent_cargo_{{$element}}, current_year) {
    0..1920: switch_{{$id}}_{{$cargosprite}}_old_curve;
    switch_{{$id}}_{{$cargosprite}}_modern_curve;
}

{{ if gt $plen 8}}
switch(FEAT_TRAINS, SELF, switch_{{$id}}_age_dependent_cargo_{{$element}}_front, current_year) {
    0..1920: switch_{{$id}}_{{$cargosprite}}_old_curve_front;
    switch_{{$id}}_{{$cargosprite}}_modern_curve_front;
}

switch(FEAT_TRAINS, SELF, switch_{{$id}}_age_dependent_cargo_{{$element}}_rear, current_year) {
    0..1920: switch_{{$id}}_{{$cargosprite}}_old_curve_rear;
    switch_{{$id}}_{{$cargosprite}}_modern_curve_rear;
}
{{ end }}

{{ else if eq $element "ensp" }}
switch(FEAT_TRAINS, SELF, switch_{{$id}}_age_dependent_cargo_{{$element}}, current_year) {
    0..1945: switch_{{$id}}_{{$cargosprite}}_old_curve;
    switch_{{$id}}_{{$cargosprite}}_modern_curve;
}

{{ if gt $plen 8}}
switch(FEAT_TRAINS, SELF, switch_{{$id}}_age_dependent_cargo_{{$element}}_front, current_year) {
    0..1945: switch_{{$id}}_{{$cargosprite}}_old_curve_front;
    switch_{{$id}}_{{$cargosprite}}_modern_curve_front;
}

switch(FEAT_TRAINS, SELF, switch_{{$id}}_age_dependent_cargo_{{$element}}_rear, current_year) {
    0..1945: switch_{{$id}}_{{$cargosprite}}_old_curve_rear;
    switch_{{$id}}_{{$cargosprite}}_modern_curve_rear;
}
{{ end }}

{{ else if eq $element "vbod" "vehi" }}
{{if gt $plen 4 }}
switch(FEAT_TRAINS, SELF, switch_{{$id}}_age_dependent_cargo_{{$element}}, current_year) {
    0..1909: switch_{{$id}}_{{$cargosprite}}_1800_curve;
    1909..1960: switch_{{$id}}_{{$cargosprite}}_1910_curve;
    1961..2010: switch_{{$id}}_{{$cargosprite}}_1970_curve;
    switch_{{$id}}_{{$cargosprite}}_2010_curve;
}

{{ if gt $plen 8}}
switch(FEAT_TRAINS, SELF, switch_{{$id}}_age_dependent_cargo_{{$element}}_front, current_year) {
    0..1909: switch_{{$id}}_{{$cargosprite}}_1800_curve_front;
    1909..1960: switch_{{$id}}_{{$cargosprite}}_1910_curve_front;
    1961..2010: switch_{{$id}}_{{$cargosprite}}_1970_curve_front;
    switch_{{$id}}_{{$cargosprite}}_2010_curve_front;
}

switch(FEAT_TRAINS, SELF, switch_{{$id}}_age_dependent_cargo_{{$element}}_rear, current_year) {
    0..1909: switch_{{$id}}_{{$cargosprite}}_1800_curve_rear;
    1909..1960: switch_{{$id}}_{{$cargosprite}}_1910_curve_rear;
    1961..2010: switch_{{$id}}_{{$cargosprite}}_1970_curve_rear;
    switch_{{$id}}_{{$cargosprite}}_2010_curve_rear;
}
{{ end }}
{{end}}

{{ end}}

switch(FEAT_TRAINS, SELF, switch_{{$id}}_cargo_{{$element}}, [
    STORE_TEMP((getbits(extra_callback_info1, 8, 8) < 1 ? CB_FLAG_MORE_SPRITES : 0) | (getbits(extra_callback_info1, 8, 8) == 1 ? {{$palette}} : PALETTE_USE_DEFAULT), 0x100),
    getbits(extra_callback_info1, 8, 8)
    ]) {
    0: switch_{{$id}}_curve;
    {{ if eq $element "fmsp" "ensp" }}
    1: switch_{{$id}}_age_dependent_cargo_{{$element}};
    {{ else if eq $element "vbod" "vehi" }}
    {{ if gt $plen 4 }}
    1: switch_{{$id}}_age_dependent_cargo_{{$element}};
    {{else}}
    1: switch_{{$id}}_{{$cargosprite}}_curve;
    {{end}}

    {{else }}
    1: switch_{{$id}}_{{$cargosprite}}_curve;
    {{end}}

    // This should never be executed
    return spriteset_invisible;
}

{{ if gt $plen 8}}
switch(FEAT_TRAINS, SELF, switch_{{$id}}_cargo_{{$element}}_front, [
    STORE_TEMP((getbits(extra_callback_info1, 8, 8) < 1 ? CB_FLAG_MORE_SPRITES : 0) | (getbits(extra_callback_info1, 8, 8) == 1 ? {{$palette}} : PALETTE_USE_DEFAULT), 0x100),
    getbits(extra_callback_info1, 8, 8)
    ]) {
    0: switch_{{$id}}_curve_front;
    {{ if eq $element "fmsp" "ensp" }}
    1: switch_{{$id}}_age_dependent_cargo_{{$element}}_front;
    {{ else if eq $element "vbod" "vehi" }}
    1: switch_{{$id}}_age_dependent_cargo_{{$element}}_front;
    {{else }}
    1: switch_{{$id}}_{{$cargosprite}}_curve_front;
    {{end}}

    // This should never be executed
    return spriteset_invisible;
}

switch(FEAT_TRAINS, SELF, switch_{{$id}}_cargo_{{$element}}_rear, [
    STORE_TEMP((getbits(extra_callback_info1, 8, 8) < 1 ? CB_FLAG_MORE_SPRITES : 0) | (getbits(extra_callback_info1, 8, 8) == 1 ? {{$palette}} : PALETTE_USE_DEFAULT), 0x100),
    getbits(extra_callback_info1, 8, 8)
    ]) {
    0: switch_{{$id}}_curve_rear;
    {{ if eq $element "fmsp" "ensp" }}
    1: switch_{{$id}}_age_dependent_cargo_{{$element}}_rear;
    {{ else if eq $element "vbod" "vehi" }}
    1: switch_{{$id}}_age_dependent_cargo_{{$element}}_rear;
    {{else }}
    1: switch_{{$id}}_{{$cargosprite}}_curve_rear;
    {{end}}

    // This should never be executed
    return spriteset_invisible;
}
{{end}}

switch (FEAT_TRAINS, SELF, switch_{{$id}}_graphics_{{$element}}, position_in_articulated_veh % 3) 
{
    1: return switch_{{$id}}_cargo_{{$element}};
    {{ if gt $plen 8}}
    0: return switch_{{$id}}_cargo_{{$element}}_front;
    2: return switch_{{$id}}_cargo_{{$element}}_rear;
    {{ end }}
    return spriteset_invisible;
}
{{ end }}
{{ else if eq .cargo_handling "Container" }}
{{ $has_cargo_switch = "1" }}
switch(FEAT_TRAINS, SELF, switch_{{$id}}_cargo_container, [
    STORE_TEMP((getbits(extra_callback_info1, 8, 8) < 1 ? CB_FLAG_MORE_SPRITES : 0) | PALETTE_USE_DEFAULT, 0x100),
    getbits(extra_callback_info1, 8, 8)
    ]) {
    0: switch_{{$id}}_curve;
    1: switch_{{$id}}_container_curve;

    // This should never be executed
    return spriteset_invisible;
}

{{ if gt $plen 8}}
switch(FEAT_TRAINS, SELF, switch_{{$id}}_cargo_container_front, [
    STORE_TEMP((getbits(extra_callback_info1, 8, 8) < 1 ? CB_FLAG_MORE_SPRITES : 0) | PALETTE_USE_DEFAULT, 0x100),
    getbits(extra_callback_info1, 8, 8)
    ]) {
    0: switch_{{$id}}_curve_front;
    1: switch_{{$id}}_container_curve_front;

    // This should never be executed
    return spriteset_invisible;
}

switch(FEAT_TRAINS, SELF, switch_{{$id}}_cargo_container_rear, [
    STORE_TEMP((getbits(extra_callback_info1, 8, 8) < 1 ? CB_FLAG_MORE_SPRITES : 0) | PALETTE_USE_DEFAULT, 0x100),
    getbits(extra_callback_info1, 8, 8)
    ]) {
    0: switch_{{$id}}_curve_rear;
    1: switch_{{$id}}_container_curve_rear;

    // This should never be executed
    return spriteset_invisible;
}
{{ end }}

switch (FEAT_TRAINS, SELF, switch_{{$id}}_graphics_container, position_in_articulated_veh % 3) 
{
    1: return switch_{{$id}}_cargo_container;
    {{ if gt $plen 8}}
    0: return switch_{{$id}}_cargo_container_front;
    2: return switch_{{$id}}_cargo_container_rear;
    {{ end }}

    return spriteset_invisible;
}
{{ end }}

switch(FEAT_TRAINS, SELF, switch_{{.id}}_articulation, extra_callback_info1) {
    0 .. 2: return vehicle_{{.id}};
    return CB_RESULT_NO_MORE_ARTICULATED_PARTS;
}

switch (FEAT_TRAINS, SELF, switch_{{.id}}_length, position_in_articulated_veh % 3) 
{
    {{range $index, $element := slice .articulated_lengths -}}
    {{$index }}: return {{ $element }};
    {{end}}    
}

{{ if ne .cargo_handling "Container" }}
{{if .replace_last_wagon}}
{{if gt $plen 8}}{{template "curve_switch_long" .replace_last_wagon }}{{else if gt $plen 4 }}{{template "curve_switch_medium" .replace_last_wagon }}{{else}}{{template "curve_switch_short" .replace_last_wagon }}{{end}}

switch (FEAT_TRAINS, SELF, switch_{{.id}}_graphics_normal, position_in_articulated_veh % 3) 
{
    1: return switch_{{.id}}_curve;
    {{ if gt $plen 8}}
    0: return switch_{{.id}}_curve_front;
    2: return switch_{{.id}}_curve_rear;
    {{ end }}
    return spriteset_invisible;
}

switch (FEAT_TRAINS, SELF, switch_{{.id}}_graphics_last, position_in_articulated_veh % 3) 
{
    1: return switch_{{.replace_last_wagon}}_curve;
    {{ if gt $plen 8}}
    0: return switch_{{.replace_last_wagon}}_curve_front;
    2: return switch_{{.replace_last_wagon}}_curve_rear;
    {{ end }}
    return spriteset_invisible;
}

switch (FEAT_TRAINS, SELF, switch_{{.id}}_graphics, position_in_consist_from_end) 
{
    0..2: return switch_{{.id}}_graphics_last;
    return switch_{{.id}}_graphics_normal;
}
{{else}}
switch (FEAT_TRAINS, SELF, switch_{{.id}}_graphics, position_in_articulated_veh % 3) 
{
    1: return switch_{{.id}}_curve;
    {{ if gt $plen 8}}
    0: return switch_{{.id}}_curve_front;
    2: return switch_{{.id}}_curve_rear;
    {{ end }}
    return spriteset_invisible;
}
{{end}}
{{end}}


{{template "tare_speed_switch" . }}
{{template "extra_text_switch" . }}


item(FEAT_TRAINS, vehicle_{{.id}}, {{.numeric_id}}) {
    property {
        name:                         {{.name_string}};
        climates_available:           {{ if .enable_param }} {{.enable_param}} ? {{end}} ALL_CLIMATES {{ if .enable_param }} : NO_CLIMATE {{end}};
        introduction_date:            date({{.year}}, {{.intro_month}}, 5);
        model_life:                   {{if .service}}{{.lifespan}};{{else}}VEHICLE_NEVER_EXPIRES;{{end}}
        retire_early:                 -4;        
        vehicle_life:                 {{.vehicle_life}};

        {{if ne .default_cargo "BRAKE"}}
        default_cargo_type:           {{.default_cargo}};
        {{else}}
        bitmask_vehicle_info:         bitmask(HAS_BRAKE_VAN);
        {{end}}
        engine_class:                 ENGINE_CLASS_DIESEL; // needed for all wagons to show up in purchase menu
        {{if eq .cargo_handling "Passengers" }}
        refittable_cargo_classes: bitmask(CC_PASSENGERS);
        cargo_allow_refit: [ YETI, YETY ];
        {{else if eq .cargo_handling "Bulk" }}
        refittable_cargo_classes: bitmask(CC_BULK);
        cargo_allow_refit: [FRUT];
        {{else if eq .cargo_handling "Van" }}
        refittable_cargo_classes: bitmask(CC_COVERED, CC_EXPRESS, CC_ARMOURED, CC_REFRIGERATED);
        {{else if eq .cargo_handling "Parcel" }}
        refittable_cargo_classes: bitmask(CC_MAIL, CC_ARMOURED);        
        {{else if eq .cargo_handling "Siphon" }}
        refittable_cargo_classes: bitmask(CC_MAIL, CC_ARMOURED, CC_REFRIGERATED);
        cargo_allow_refit: [MILK];
        {{else if eq .cargo_handling "Steel" }}
        cargo_allow_refit: [STEL, METL, COPR, CSTI, IRON, PIPE, STAL, STCB, STST, ZINC];
         {{else if eq .cargo_handling "Container" }}
        refittable_cargo_classes: bitmask(CC_EXPRESS);     
        {{else if eq .cargo_handling "Bolster" }}
        refittable_cargo_classes: bitmask(CC_PIECE_GOODS);
        cargo_disallow_refit: [LVST];      
        {{else if eq .cargo_handling "Tanker" }}
        refittable_cargo_classes: bitmask(CC_LIQUID);
        {{end}}

        {{if .cargo_age_period}}cargo_age_period:             {{.cargo_age_period}};{{end}}

        power:                        0 hp;
        {{if .speed}}speed:                        {{.speed}} mph;{{end}}
        reliability_decay:            20;
        {{if .loading_speed}}loading_speed:                {{.loading_speed}};{{end}}
        cost_factor:                  {{.cost}};
        running_cost_factor:          {{.running_cost}};
        sprite_id:                    SPRITE_ID_NEW_TRAIN;
        misc_flags:                   bitmask(TRAIN_FLAG_2CC {{if $has_cargo_switch}}, TRAIN_FLAG_SPRITE_STACK{{end}});
        refit_cost:                   0;
        track_type:                   RAIL;
        running_cost_base:            RUNNING_COST_STEAM;
        cargo_capacity:               {{.capacity}} / 3;
        weight:                       {{.weight}} ton;        
    }

    graphics {
        {{ if eq .cargo_handling "Container" }}
        cargo_capacity: return {{.capacity}} / 3;
        default:  switch_{{$id}}_graphics_container;
        {{ else if eq .cargo_handling "Van" }}
        cargo_capacity: return {{.capacity}} / 3;
        default:  switch_{{.id}}_graphics;
        {{else}}
        default:  switch_{{.id}}_graphics;
        {{end}}
        {{ if eq .cargo_handling "Bulk" }}
        {{ range $index, $element := slice $bulk_cargos }}
        {{ toupper $element }}: switch_{{$id}}_graphics_{{$element}};{{end}}
        {{ else if eq .cargo_handling "Bolster" }}
        {{ range $index, $element := slice $bolster_cargos }}
        {{ toupper $element }}: switch_{{$id}}_graphics_{{$element}};{{end}}
        // Manual re-used bolster cargo
        BRCK: switch_{{$id}}_graphics_bdmt;
        {{ else if eq .cargo_handling "Steel" }}
        {{ range $index, $element := slice $metal_cargos }}
        {{ toupper $element }}: switch_{{$id}}_graphics_{{$element}};{{end}}
        {{end}}


        {{if .tare_speed}}speed: switch_{{.id}}_speed;{{end}}
        additional_text: {{ if .tare_speed -}}{{.id}}_extra_text_switch{{else}}return {{.additional_text_string}}{{end}};
        articulated_part: switch_{{.id}}_articulation;
        length: switch_{{.id}}_length;
        purchase:  spriteset_{{.id}}_purchase;
        purchase_cargo_capacity: spriteset_{{.id}};
        {{if .speed}}purchase_speed: return ({{.speed}} * 8) / 5;{{end}}
    }
}
