{{ $zoom := parseint .globals.zoom }}


{{$template := concat "template_auto_" .ttd_len -}}
{{if eq .globals.bpp "32"}}{{ altsprites .id $template $zoom }}{{else}}{{ altsprites8 .id $template $zoom }}{{end}}

{{$template_turn := concat "template_auto_turn_1_" .ttd_len -}}
{{if eq .globals.bpp "32"}}{{ altspritesn .id $template_turn $zoom "_turn_1" }}{{else}}{{ altsprites8n .id $template_turn $zoom "_turn_1" }}{{end}}
{{$template_turn = concat "template_auto_turn_2_" .ttd_len -}}
{{if eq .globals.bpp "32"}}{{ altspritesn .id $template_turn $zoom "_turn_2" }}{{else}}{{ altsprites8n .id $template_turn $zoom "_turn_2" }}{{end}}

{{template "curve_switch" .id }}

switch(FEAT_TRAINS, SELF, switch_{{.id}}_articulation, extra_callback_info1) {
    0 .. 2: return vehicle_{{.id}};
    return CB_RESULT_NO_MORE_ARTICULATED_PARTS;
}

switch (FEAT_TRAINS, SELF, switch_{{.id}}_length, position_in_articulated_veh % 3) 
{
    {{range $index, $element := slice .articulated_lengths -}}
    {{$index }}: return {{ $element }};
    {{end}}    
}

switch (FEAT_TRAINS, SELF, switch_{{.id}}_graphics, position_in_articulated_veh % 3) 
{
    1: return switch_{{.id}}_curve;
    return spriteset_invisible;
}


item(FEAT_TRAINS, vehicle_{{.id}}) {
    property {
        name:                         {{.name_string}};
        climates_available:           bitmask(CLIMATE_TEMPERATE, CLIMATE_ARCTIC, CLIMATE_TROPICAL);
        introduction_date:            date({{.year}}, 1, 1);
        model_life:                   VEHICLE_NEVER_EXPIRES;
        vehicle_life:                 30;

        default_cargo_type:           {{if ne .default_cargo "BRAKE"}}{{.default_cargo}}{{else}}GOOD{{end}};

        power:                        0 hp;
        {{if .speed}}speed:                        {{.speed}} mph;{{end}}
        reliability_decay:            20;
        {{if .loading_speed}}loading_speed:                {{.loading_speed}};{{end}}
        cost_factor:                  {{.cost}};
        running_cost_factor:          {{.running_cost}};
        sprite_id:                    SPRITE_ID_NEW_TRAIN;
        misc_flags:                   bitmask(TRAIN_FLAG_2CC);
        refit_cost:                   0;
        track_type:                   RAIL;
        running_cost_base:            RUNNING_COST_STEAM;
        cargo_capacity:               {{.capacity}} / 3;
        weight:                       {{.weight}} ton;
        
    }

    graphics {
        default:  switch_{{.id}}_graphics;
        additional_text: return {{.additional_text_string}};
        articulated_part: switch_{{.id}}_articulation;
        length: switch_{{.id}}_length;
        purchase: spriteset_{{.id}};
        purchase_cargo_capacity: spriteset_{{.id}};
    }
}
