{{ $zoom := parseint .globals.zoom }}


{{$template := concat "template_rail_" .ttd_len}}{{ altsprites .id $template $zoom }}

/*
spriteset (spriteset_{{.id}}, "1x/{{.id}}_8bpp.png" )
{ 
    template_rail_1x() 
}

alternative_sprites(spriteset_{{.id}}, ZOOM_LEVEL_IN_2X, BIT_DEPTH_8BPP, "2x/{{.id}}_8bpp.png")
{ 
    template_rail_2x() 
}
*/


switch(FEAT_TRAINS, SELF, switch_{{.id}}_articulation, extra_callback_info1) {
    0 .. 2: return vehicle_{{.id}};
    return CB_RESULT_NO_MORE_ARTICULATED_PARTS;
}

switch (FEAT_TRAINS, SELF, switch_{{.id}}_length, position_in_articulated_veh % 3) 
{
    {{range $index, $element := slice .articulated_lengths -}}
    {{$index }}: return {{ $element }};
    {{end}}    
}

switch (FEAT_TRAINS, SELF, switch_{{.id}}_graphics, position_in_articulated_veh % 3) 
{
    1: return spriteset_{{.id}};
    return spriteset_invisible;
}


item(FEAT_TRAINS, vehicle_{{.id}}) {
    property {
        name:                         {{.name_string}};
        climates_available:           bitmask(CLIMATE_TEMPERATE, CLIMATE_ARCTIC, CLIMATE_TROPICAL);
        introduction_date:            date({{.year}}, 1, 1);
        model_life:                   VEHICLE_NEVER_EXPIRES;
        vehicle_life:                 30;

        default_cargo_type:           {{.default_cargo}};

        power:                        0 hp;
        {{if .speed}}speed:                        {{.speed}} mph;{{end}}
        reliability_decay:            20;
        {{if .loading_speed}}loading_speed:                {{.loading_speed}};{{end}}
        cost_factor:                  {{.cost}};
        running_cost_factor:          {{.running_cost}};
        sprite_id:                    SPRITE_ID_NEW_TRAIN;
        misc_flags:                   bitmask(TRAIN_FLAG_2CC);
        refit_cost:                   0;
        track_type:                   RAIL;
        running_cost_base:            RUNNING_COST_STEAM;
        cargo_capacity:               {{.capacity}} / 3;
        weight:                       {{.weight}} ton;
        
    }

    graphics {
        default:  switch_{{.id}}_graphics;
        additional_text: return {{.additional_text_string}};
        articulated_part: switch_{{.id}}_articulation;
        length: switch_{{.id}}_length;
        purchase_cargo_capacity: spriteset_{{.id}};
    }
}
